/id_rsa.pub
/my_id.pub
/setvars.sh
/setvars1.sh
/setvars2.sh
/setvarsa.sh
/setvarsb.sh
/.pydevproject
misc/cephfs/ceph-docker

misc4.0/htpasswd/htpasswd
4.0/config/pullsecret.json
4.0/config/pullsecret.yaml

misc4.0/vault/values.yaml
