/id_rsa.pub
/my_id.pub
/setvars.sh
/setvars1.sh
/setvars2.sh
/setvarsa.sh
/setvarsb.sh
/.pydevproject
misc/cephfs/ceph-docker

misc4.0/htpasswd/htpasswd
4.0/config/pullsecret.json
4.0/config/pullsecret.yaml

misc4.0/vault/values.yaml
4.0/config/config-acm/journal-gatewayd.key
4.0/config/config-acm/journal-gatewayd.crt
4.0/cluster2-acm/metadata.json
misc4.0/externalDNS/charts
misc4.0/redis/charts
4.0/pullsecret.json

misc4.0/gpu/subscription/
misc4.0/gpu/subscription/consumer_export.zip
misc4.0/gpu/entitlement_copy.yaml

misc4.0/wireguard/entitlements/
4.0/azure/service-principal.json
misc4.0/github-actions-runner-controller/raffa-actions-runner-controller.2021-08-19.private-key.pem
misc4.0/github-actions-runner-controller/client-secret.txt
misc4.0/backstage/pat.txt
misc4.0/sigstore/cosign.pub
cosign.pub
4.0/pwd/htpasswd
misc4.0/crossplane/aws-credentials.txt
misc4.0/netobserv/secret.sh
misc4.0/network-policy-audit-logs/DFS-Calico-to-OVN-analisys.md
misc4.0/multicluster-api-server/sa.key
misc4.0/multicluster-api-server/sa.key.pub
misc4.0/multicluster-api-server/sakey.pub.pem
misc4.0/multicluster-api-server/sa.key.pem
misc4.0/multicluster-api-server/sa.key.pem.pub
misc4.0/multicluster-api-server/sa.key.pub.pem
