resources:
- name: master-internal
  properties:
    IPProtocol: TCP
    backendService: https://www.googleapis.com/compute/v1/projects/{{env['project']}}/regions/us-central1/backendServices/master-internal
    description: ''
    loadBalancingScheme: INTERNAL
    network: https://www.googleapis.com/compute/v1/projects/{{env['project']}}/global/networks/default
    ports:
    - '8443'
    region: us-central1
    subnetwork: https://www.googleapis.com/compute/v1/projects/{{env['project']}}/regions/us-central1/subnetworks/default
  type: compute.v1.forwardingRule
- name: master-internal
  properties:
    backends:
    - balancingMode: CONNECTION
      group: https://www.googleapis.com/compute/v1/projects/{{env['project']}}/zones/us-central1-a/instanceGroups/master1
    - balancingMode: CONNECTION
      group: https://www.googleapis.com/compute/v1/projects/{{env['project']}}/zones/us-central1-b/instanceGroups/master2
    - balancingMode: CONNECTION
      group: https://www.googleapis.com/compute/v1/projects/{{env['project']}}/zones/us-central1-c/instanceGroups/master3
    connectionDraining:
      drainingTimeoutSec: 0
    description: ''
    healthChecks:
    - https://www.googleapis.com/compute/v1/projects/{{env['project']}}/global/healthChecks/master-health-check
    loadBalancingScheme: INTERNAL
    protocol: TCP
    region: us-central1
    sessionAffinity: NONE
    timeoutSec: 30
  type: compute.v1.backendService
