global_defs {
    router_id masters
}

vrrp_instance vi_master {
    state {% if ansible_nodename == hostvars[groups['masters-lbs'][0]].ansible_hostname %} MASTER {% else %} BACKUP {% endif %}
    
    interface {{ ansible_default_ipv4.interface }}
    
    virtual_router_id {{ masters_virtual_router_id }}
    
    priority {% if ansible_nodename == hostvars[groups['masters-lbs'][0]].ansible_hostname %} 101 {% else %} 100 {% endif %}
    
    advert_int 1
    
    unicast_peer {
    {% for ip in (groups['masters-lbs'] | map('extract', hostvars, ['ansible_default_ipv4', 'address' ]) | list | difference( [ ansible_default_ipv4.address ] )) %}
        {{ ip }}
    {% endfor %}    
    }     
    
    virtual_ipaddress {
        {{ lb_masters_vip }}
    }
}

#virtual_server {{ lb_masters_vip }} {{ openshift_master_api_port }} {
#    delay_loop 20
#    lb_algo rr
#    lb_kind NAT
#    persistence_timeout 360
#    protocol TCP
#{% for server in groups['masters'] %}
#
#    real_server {{ hostvars[server].ansible_default_ipv4.address }} {{ openshift_master_api_port }} {
#        weight 1
#        TCP_CHECK {
#            connect_timeout 3
#        }        
#    }
#   
#{% endfor %}    
#    
#
#}