apiVersion: v1
kind: Pod
metadata:
  name: master-loadbalancer
#  annotations:
#    security.alpha.kubernetes.io/unsafe-sysctls: net.ipv4.ip_nonlocal_bind=1
spec:
  hostNetwork: true
  containers:
  - name: keepalived
    image: "registry.access.redhat.com/openshift3/ose-keepalived-ipfailover:{{ openshift_release }}"
    command:
    - /usr/sbin/keepalived
    - -l
    - -D
    - -n
    args:
    - -f
    - /etc/keepalived.d/masters-keepalived.conf
    volumeMounts:
    - mountPath: /lib/modules
      name: lib-modules
      readOnly: true
    - mountPath: /etc/keepalived.d
      name: config
      readOnly: true      
    securityContext:
      privileged: true     
  - name: haproxy
    image: "registry.access.redhat.com/openshift3/ose-haproxy-router:{{ openshift_release }}"
    command:
    - /usr/sbin/haproxy
    args:
    - -f
    - /etc/haproxy.d/masters-haproxy.conf
    volumeMounts:
    - mountPath: /etc/haproxy.d
      name: config
      readOnly: true      
    securityContext:
      privileged: true              
  volumes:
  - hostPath:
      path: /lib/modules
    name: lib-modules  
  - hostPath:
      path: /etc/kubelet.pod.d
    name: config
    
          