resources:
- type: compute.v1.address
  name: infranode-external
  properties:
    region: us-central1
- name: infranode-http-health-check
  type: compute.v1.httpHealthCheck
  properties:
    port: 80
- type: compute.v1.targetPool
  name: infranode-pool
  properties:
    region: us-central1
    instances: {{ properties["instances"] }}
    healthChecks: 
    - $(ref.infranode-http-health-check.selfLink)
- type: compute.v1.forwardingRule
  name: infranode-external-fwr
  properties: 
    region: us-central1
    IPAddress: $(ref.infranode-external.selfLink)
    target: $(ref.infranode-pool.selfLink)
    IPProtocol: TCP
- name: oc-infranode
  type: compute.v1.firewall
  properties:
    allowed:
    - IPProtocol: tcp
      ports:
      - 80
      - 443
    sourceRange: 0.0.0.0/0
    targetTags:
    - infranode
output:
- name: infranode-external-ip
  value: $(ref.infranode-external.address)    
    
    