resources:
- type: compute.v1.address
  name: master-external
  properties:
    region: us-central1
- name: master-https-health-check
  type: compute.v1.httpsHealthCheck
  properties:
    port: 8443
    requestPath: "/healthz"
- type: compute.v1.targetPool
  name: master-pool
  properties:
    region: us-central1
    instances: {{ properties["instances"] }}
- type: compute.v1.forwardingRule
  name: master-external-fwr
  properties: 
    region: us-central1
    IPAddress: $(ref.master-external.selfLink)
    target: $(ref.master-pool.selfLink)
    IPProtocol: TCP
- name: oc-master
  type: compute.v1.firewall
  properties:
    allowed:
    - IPProtocol: tcp
      ports:
      - 8443
    sourceRange: 0.0.0.0/0
    targetTags:
    - master
- name: master-internal-bs
  type: compute.v1.backendService
  properties: 
    loadBalancingScheme: INTERNAL
    protocol: TCP
    region: us-central1
    sessionAffinity: NONE
    timeoutSec: 30
    connectionDraining:
      drainingTimeoutSec: 0    
    healthChecks:
    - $(ref.master-https-health-check.selfLink)
    backends:
{% for i in properties["instance-groups"] %}    
    - balancingMode: CONNECTION
      group: {{ i }}
{% endfor %}
- type: compute.v1.forwardingRule
  name: master-internal
  properties: 
    region: us-central1
    ports: 
    - 8443
    IPProtocol: TCP
    loadBalancingScheme: INTERNAL
    backendService: $(ref.master-internal-bs.selfLink)       
output:
- name: master-external-ip
  value: $(ref.master-external.address)
- name: master-internal-ip  
  value: $(ref.master-internal.address) 