resources:
{% for i in range(1,properties["number"]+1) %}
{% set zone = properties["zones"][ i % properties["zones"].__len__()] %}
- type: compute.v1.instance
  name: master{{ i }}
  properties:
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ zone }}/machineTypes/n1-standard-2
    scheduling:
      preemptible: true
      onHostMaintenance: TERMINATE
    zone: {{ zone }}
    disks:
    - deviceName: boot
      boot: true
      autoDelete: true
      initializeParams:
        diskSizeGb: 20
        sourceImage: https://www.googleapis.com/compute/v1/projects/rhel-cloud/global/images/family/rhel-7
    serviceAccounts: 
    - email: default
      scopes: 
      - "https://www.googleapis.com/auth/devstorage.read_only"
      - "https://www.googleapis.com/auth/logging.write"
      - "https://www.googleapis.com/auth/monitoring.write"
      - "https://www.googleapis.com/auth/servicecontrol"
      - "https://www.googleapis.com/auth/service.management.readonly"
      - "https://www.googleapis.com/auth/trace.append"
      - "https://www.googleapis.com/auth/compute"
      - "https://www.googleapis.com/auth/devstorage.read_write"   
    tags:
      items:
      - master
    networkInterfaces:
    - network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
- type: compute.v1.instanceGroup
  name: {{ "master"~i~"-ig" }}
  properties:
    zone: {{ zone }}        
{% endfor %}        
output:
- name: instances
  value: [$(ref.master1.selfLink),$(ref.master2.selfLink),$(ref.master3.selfLink)]
- name: instance-groups
  value: [$(ref.master1-ig.selfLink),$(ref.master2-ig.selfLink),$(ref.master3-ig.selfLink)]                  
               