resources:
{% for i in range(1,properties["number"]+1) %}
{% set zone = properties["zones"][ i % properties["zones"].__len__()] %}
{% set name = properties["tag"]~i %}
- type: compute.v1.disk
  name: {{ name }}-docker 
  properties:
    zone: {{ zone }}
    sizeGb: 50
- type: compute.v1.disk
  name: {{ name }}-gluster
  properties:
    zone: {{ zone }}
    sizeGb: 100    
- type: compute.v1.instance
  name: {{ name }}
  properties:
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ zone }}/machineTypes/n1-standard-2
    scheduling:
      preemptible: true
      onHostMaintenance: TERMINATE
    zone: {{ zone }}
    disks:
    - deviceName: boot
      boot: true
      autoDelete: true
      initializeParams:
        diskSizeGb: 20
        sourceImage: https://www.googleapis.com/compute/v1/projects/rhel-cloud/global/images/family/rhel-7        
    - deviceName: disk-1
      boot: false
      source: $(ref.{{ name }}-docker.selfLink) 
    - deviceName: disk-2
      boot: false
      source: $(ref.{{ name }}-gluster.selfLink)  
    serviceAccounts: 
    - email: default
      scopes: 
      - "https://www.googleapis.com/auth/devstorage.read_only"
      - "https://www.googleapis.com/auth/logging.write"
      - "https://www.googleapis.com/auth/monitoring.write"
      - "https://www.googleapis.com/auth/servicecontrol"
      - "https://www.googleapis.com/auth/service.management.readonly"
      - "https://www.googleapis.com/auth/trace.append"
      - "https://www.googleapis.com/auth/compute"
      - "https://www.googleapis.com/auth/devstorage.read_write"   
    tags:
      items:
      - {{ properties["tag"] }}
    networkInterfaces:
    - network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT           
{% endfor %}      
output:
- name: instances
  value: [$(ref.infranode1.selfLink),$(ref.infranode2.selfLink)]




